@import "./index";
.m-personal{
  width: 100%;
  min-height: 1334px;
  background-color: #EEEEEE;
  position: relative;
  z-index: -2;
  .m-personal-bg{
    width: 100%;
    height: 450px;
    background:linear-gradient(180deg,rgba(252,211,22,1) 0%,rgba(239,232,197,1) 100%);
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    .m-icon-bg{
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 67px;
      background: url("/static/images/icon-shop-bg.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .m-personal-content{
    padding: 0 25px;
    text-align: left;
    .m-set-box{
      padding: 30px 25px  30px 0;
      &:after{
        content: '';
        display: block;
        clear: both;
      }
      .m-icon-set{
        float: right;
        width: 40px;
        height: 40px;
        background: url("/static/images/icon-set.png") no-repeat;
        background-size: 100% 100%;
      }
      .m-right{
        float: right;
      }
    }
    .m-personal-info{
      .flex-row(flex-start);
      .m-personal-head-portrait{
        display: block;
        width: 180px;
        height: 180px;
        background-color: #edb3b1;
        margin-right: 30px;
        margin-left: 42px;
        border-radius: 50%;
      }
      .m-personal-info-text{
        height: 180px;
        font-size: 30px;
        width: 424px;
        .m-personal-identity{
          display: inline-block;
          padding: 5px 20px;
          background: #D5D5D5;
          font-size: 20px;
          border-radius: 30px;
          margin-top: 10px;
        }
        .flex-row(space-between);
        .m-code-img{
          display: block;
          width: 75px;
          height: 75px;
          background-color: #edb3b1;
        }
      }
      .m-personal-ul{
        .flex-row(space-between);
        li{
          line-height: 29px;
          .m-icon-gift{
            display: inline-block;
            width: 26px;
            height: 29px;
            background: url("/static/images/icon-persoanl-gift.png") no-repeat;
            background-size: 100% 100%;
            vertical-align: top;
          }
          .m-name{
            display: inline-block;
            margin: 0 15px;
          }
          .m-icon-integral{
            display: inline-block;
            width: 29px;
            height: 29px;
            background: url("/static/images/icon-integral.png") no-repeat;
            background-size: 100% 100%;
            vertical-align: top;
          }
        }

      }
    }
    &.m-setUp{
      padding: 80px 0 0 25px ;
      .m-set-box{
        padding: 20px 25px 0 0;
      }
      .m-personal-info{
        .m-personal-head-portrait{
          width: 120px;
          height: 120px;
        }
        .m-personal-info-text{
          height: 120px;
          font-size: 30px;
          width: 484px;
        }
      }

    }
    &.m-address{
      padding: 0 0 350px 25px;
    }
    &.m-addAddress{
     .m-one-part{
       height: 750px;
     }
    }
    .m-personal-body{
      .m-one-part {
        width: 630px;
        padding: 16px 26px 22px 44px;
        background-color: #fff;
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        margin-top: 35px;
        text-align: left;
        .m-one-part-title{
          .flex-row(space-between);
          .m-name{
            font-size: 28px;
            font-weight: bold;
          }
        }
        .m-part-icon-ul{
          .flex-row(space-around);
          margin: 30px 0;
          li{
            /*width: 70px;*/
            text-align: center;
            img{
              display: block;
              width: 77px;
              height: 58px;
              margin: 5px;
              &.m-square{
                width: 64px;
              }
            }
          }
          &.m-use{
            li{
              img{
                display: block;
                width: 80px;
                height: 80px;
                margin: 5px;
              }
            }
          }
        }
        .m-edit-ul{
          margin-bottom: 50px;
          li{
            .flex-row(space-between);
            font-size: 30px;
            padding: 20px ;
            line-height: 50px;
            border-bottom: 1px solid #ccc;
              &.m-no-border{
                  border-bottom: none;
              }
            .m-grey{
              color: #999;
            }
            .m-icon-more{
             margin-top: 6px;
            }
            .m-icon{
              display: inline-block;
              margin-right: 24px;
              vertical-align: text-bottom;
              &.m-icon-loc{
                width: 25px;
                height: 36px;
                background: url("/static/images/icon-loc.png") no-repeat;
                background-size: 100% 100%;
              }
              &.m-icon-delete{
                width: 27px;
                height: 34px;
                background: url("/static/images/icon-delete.png") no-repeat;
                background-size: 100% 100%;
              }
              &.m-icon-about{
                width: 31px;
                height: 31px;
                background: url("/static/images/icon-about.png") no-repeat;
                background-size: 100% 100%;
              }
            }
            .m-edit-input{
              text-align: right;
              border: none;
              color: #999;
            }
          }
          &.m-address-edit-ul{
            li{
              display: flex;
              flex-flow: column;
              align-items: center;
              .m-left{
                width: 630px;
              }
              .m-address-name {
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: space-between;
                height: 50px;
                line-height: 50px;
                color: #666;
              }
              .m-address-p{
                text-align: left;
                color: #999;
                padding-left: 20px;
                line-height: 32px;
                margin: 30px 0;
              }
              .m-address-edit-box{
                width: 630px;
                margin-bottom: 10px;
                .flex-row(space-between);
                font-size: 18px;
                color: #999;
                .m-mr-40{
                  margin-right: 40px;
                }
              }
            }
          }
          &.m-addAddress-ul{
            li{
              justify-content: flex-start;
                &.m-default-address{
                   justify-content: space-between;
                }
            }

          }
          .m-must{
            color: #FF0000;
            font-size: 30px;
          }
          .m-label{
            display: inline-block;
            width: 150px;
          }
          .m-addAddress-input{
            width: 380px;
            text-align: left;
            font-size: 30px;
          }
          .m-icon-default{
            display: inline-block;
            width: 90px;
            height: 45px;
            background: url("/static/images/icon-default.png");
            background-size: 100% 100%;
            vertical-align: middle;
            &.active{
              background: url("/static/images/icon-default-active.png");
              background-size: 100% 100%;
            }
          }
        }
      }
    }
  }
  .m-foot-btn{
    position: fixed;
    bottom: 140px;
    left: 25px;
    span{
      display: inline-block;
      width: 700px;
      height: 106px;
      line-height: 106px;
      background-color: @mainColor;
      font-size: 38px;
      font-weight: bold;
      border-radius: 10px;
      box-shadow:0px 5px 6px rgba(0,0,0,0.16);
    }
  }
  .m-icon-more{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("/static/images/icon-more.png") no-repeat;
    background-size: 100% 100%;
    vertical-align: text-top;
  }
  .m-icon-radio{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("/static/images/icon-radio.png");
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 10px;
    &.active{
      background: url("/static/images/icon-radio-active.png");
      background-size: 100% 100%;
    }
  }
  .m-border {
    display: inline-block;
    width: 5px;
    height: 50px;
    background: linear-gradient(180deg, rgba(255, 251, 223, 1) 0%, rgba(252, 211, 22, 1) 100%);
    vertical-align: middle;
    margin-right: 15px;
  }
}
